@import "../../../shared/src/helpers.sass"

\:root
  --album-size: 200px
  --album-row-gap: 20px
  --album-column-gap: 20px
  --window-frame-top: 48px
  --window-splitter-colour: #ffffff1f
  --item-shadow: none
  --secondary-splitter-colour: #ffffff12
  --left-sidebar-colour: #121212
  --search-colour: #131313
  --player-colour: #282828
  

body.system-theme-light
  --modspotify_main_fg: #444444
  --modspotify_secondary_fg: #797979
  --modspotify_main_bg: #FFFFFF
  --modspotify_sidebar_and_player_bg: #FFFFFF
  --modspotify_cover_overlay_and_shadow: #000000
  --modspotify_indicator_fg_and_button_bg: #bdc3c7
  --modspotify_pressing_fg: #2c3e50
  --modspotify_slider_bg: #FAFAFA
  --modspotify_sidebar_indicator_and_hover_button_bg: #95a5a6
  --modspotify_scrollbar_fg_and_selected_row_bg: #EBEBEB
  --modspotify_pressing_button_fg: #2c3e50
  --modspotify_pressing_button_bg: #2c3e50
  --modspotify_selected_button: #2c3e50
  --modspotify_miscellaneous_bg: #2c3e50
  --modspotify_miscellaneous_hover_bg: #efefef
  --modspotify_preserve_1: #FFFFFF
  --secondary-splitter-colour: #0000000a
  --item-shadow: 0 2px 7px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.15)
  --window-splitter-colour: #00000014
  --left-sidebar-colour: #f5f5f5
  --search-colour: #efefef
  --player-colour: #eeeeee

    
//  #/*Thinner scrollbar*/
// ::-webkit-scrollbar
//   height: 6px !important
//   width: 0px !important
//   background-color: transparent

body
  background: var(--modspotify_main_bg)

.gc-label-text
  color: #fafafa

.card-image-wrapper
  height: 100%
  position: relative

.Header__image-inner, .card-image-wrapper
  border-radius: 5px
  overflow: hidden
  box-shadow: var(--item-shadow)

.card-info-subtitle-links
  font-size: 13px
  margin-top: -1px

.content-top-bar
  background: var(--modspotify_main_bg)
  border-bottom: 1px solid var(--window-splitter-colour)
  right: 0
  padding-right: 16px
  padding-left: 110px

h1
  color: var(--modspotify_main_fg)

footer.view-player
  background: var(--player-colour)
  border-top: 1px solid var(--window-splitter-colour)

.view-player .text-container .text-item-container .text-item .scroll-text-container:after
  background: linear-gradient(90deg,transparent,var(--player-colour))

.sidebar#menu-wrapper
  background: var(--left-sidebar-colour)
  border-right: 1px solid var(--window-splitter-colour)
  .sidebar-navbar, .LeftSidebar__scroll-section
    background: none

.LeftSidebarNewPlaylistButton__button
  border-top: 1px solid var(--window-splitter-colour)

#main
  overflow-x: scroll

  overscroll-behavior-x: contain
  scroll-snap-type: x mandatory

  &::-webkit-scrollbar
    display: none

  #main-container
    // TODO: the 19px pixels seems to be coming from something dynamic
    margin-right: calc(0px - var(--left-sidebar-width)) 

  #menu-wrapper, .main-view-wrapper
    scroll-snap-align: start
    scroll-snap-stop: always


#view-content > .embedded-app
  &::-webkit-scrollbar-track:vertical
    margin-top: var(--window-frame-top)

.Header__background, .glue-page-header__background
  // remove the header gradient
  display: none

.Header--with-active-sticky-header .Header__background
  display: initial

#view-content>.embedded-app, #view-content>iframe, #view-content
  // set all pages to use the same background
  background-color: var(--modspotify_main_bg)

.profile, .browser-navigation-top-bar .button, .dropdown>button
  text-shadow: none

input[type=search], input[type=text]
  background: var(--search-colour)
  padding-left: 26px

  &::placeholder, &::-webkit-input-placeholder
    color: var(--modspotify_secondary_fg)

.SearchInput
  color: var(--modspotify_secondary_fg)

.Button--style-icon-stroke
  background: var(--modspotify_indicator_fg_and_button_bg)